<div class="mx-20">
  <div class="overflow-x-auto">
    <table class="w-full text-sm text-left border border-gray-300 rounded-lg border-separate border-spacing-0">
      <thead>
        <tr>
          <th class="px-4 py-3 font-semibold border-b border-gray-300 rounded-tl-lg">Producto</th>
          <th class="px-4 py-3 font-semibold border-b border-gray-300">Categoría</th>
          <th class="px-4 py-3 font-semibold border-b border-gray-300">Marca</th>
          <th class="px-4 py-3 font-semibold border-b border-gray-300">Precio</th>
          <th class="px-4 py-3 font-semibold border-b border-gray-300">Estado</th>
          <th class="px-4 py-3 text-center font-semibold border-b border-gray-300 rounded-tr-lg">Acciones</th>
        </tr>
      </thead>

      <tbody class="bg-white divide-y divide-gray-200">
        <tr *ngFor="let p of productos" class="hover:bg-gray-50 transition">
          <td class="px-4 py-3">{{ p.nombre }}</td>
          <td class="px-4 py-3">{{ p.categoria?.nombre || '-' }}</td>
          <td class="px-4 py-3">{{ p.marca?.nombre || '-' }}</td>
          <td class="px-4 py-3">${{ p.precio_venta }}</td>
          <td class="px-4 py-3">
            <span class="px-2 py-1 rounded-md text-xs font-semibold"
                  [ngClass]="{
                    'bg-green-100 text-green-700': p.estado === 'activo',
                    'bg-red-100 text-red-700': p.estado === 'inactivo'
                  }">
              {{ p.estado }}
            </span>
          </td>
          <td class="px-4 py-3 text-center">
            <button title="Editar" class="px-3 py-1 bg-gray-200 rounded hover:bg-gray-300">Editar</button>
            <button (click)="eliminar(p.id_producto!)" class="px-3 py-1 bg-red-200 rounded hover:bg-red-300">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Modal -->
<app-modal-producto 
  *ngIf="modalAbierto"
  (cerrar)="modalAbierto = false"
  (productoCreado)="agregarProductoALista($event)">
</app-modal-producto>
