<div class="bg-[#242938] p-8 rounded-2xl shadow-xl mx-4 sm:mx-8 lg:mx-20 mt-6">

  <div class="flex items-center">
      <h1 class="text-xl text-white my-6">Gestión de reportes</h1>
  </div>

  <div class="p-2 sm:p-6">

<!-- Productos más vendidos -->
<h2 class="text-2xl text-white font-bold mb-4">Productos más vendidos</h2>

<div *ngIf="sinRegistrosProductos" class="text-gray-300 text-lg mb-2">
  No hay registros disponibles
</div>

<div class="grid grid-cols-1 lg:grid-cols-2 gap-8">

  <!-- Donut chart -->
  <div class="bg-[#1f2537] p-4 rounded-2xl shadow-lg flex justify-center items-center">
    <div class="w-full max-w-[450px]"> <!-- 🔥 Hace más grande el donut en desktop -->
        <apx-chart 
        [series]="chartDonutOptions.series"
        [chart]="chartDonutOptions.chart"
        [labels]="chartDonutOptions.labels"
        [plotOptions]="chartDonutOptions.plotOptions"
        [dataLabels]="chartDonutOptions.dataLabels"
        [legend]="chartDonutOptions.legend"
        [responsive]="chartDonutOptions.responsive"
        [stroke]="{ colors: ['#242938'] }">
        </apx-chart>
    </div>
  </div>

  <!-- Contenedor de lista -->
  <div class="bg-[#1f2537] p-5 rounded-2xl shadow-lg">
    <h3 class="text-lg font-semibold text-white mb-4">
      Productos más vendidos
    </h3>

    <div *ngIf="sinRegistrosProductos" class="text-gray-300 text-sm">
      No hay productos registrados
    </div>

    <ul *ngIf="!sinRegistrosProductos" class="space-y-3">

      <li *ngFor="let item of listaProductos"
          class="bg-[#2c3248] p-3 rounded-lg flex justify-between items-center border border-[#3a415a]">
        <span class="text-white">{{ item.nombre }}</span>
        <span class="text-blue-400 font-semibold">
          {{ item.total_vendido }}
        </span>
      </li>

    </ul>
  </div>

</div>


    <!-- Ventas por periodo -->
    <h2 class="text-2xl text-white font-bold mt-10 mb-4">Ventas por periodo</h2>

    <!-- Filtros responsivos -->
    <div class="flex flex-col sm:flex-row gap-4 mb-4">
      <input type="date" [(ngModel)]="inicio"
             class="border bg-white p-2 rounded w-full sm:w-auto">

      <input type="date" [(ngModel)]="fin"
             class="border bg-white p-2 rounded w-full sm:w-auto">

      <button
        (click)="cargarVentasPeriodo()"
        class="bg-blue-600 text-white px-4 py-2 rounded w-full sm:w-auto">
        Consultar
      </button>
    </div>

    <div class="h-[350px] overflow-hidden w-full">
      <apx-chart
        [series]="chartBarOptions.series"
        [chart]="chartBarOptions.chart"
        [xaxis]="chartBarOptions.xaxis"
        [yaxis]="chartBarOptions.yaxis"
        [colors]="chartBarOptions.colors"
        [plotOptions]="chartBarOptions.plotOptions"
        [dataLabels]="chartBarOptions.dataLabels"
        [legend]="chartBarOptions.legend"
        class="w-full">
      </apx-chart>
    </div>

  </div>
</div>
