<div class="fixed inset-0 bg-black/50 flex items-center justify-center z-50">
  <div
    class="bg-white rounded-xl shadow-xl p-6 w-[90%] max-w-md relative animate-fadeInUp"
    (click)="$event.stopPropagation()"
  >
    <button
      (click)="cerrar.emit()"
      class="absolute top-2 right-3 text-gray-500 hover:text-gray-800"
    >
      ✕
    </button>

    <h2 class="text-xl font-semibold mb-4">Registrar nuevo usuario</h2>

    <form class="space-y-3" [formGroup]="form" (ngSubmit)="guardar()">
      <input type="text" placeholder="Nombre completo" formControlName="nombre" class="border rounded-lg w-full p-2 text-sm" />
      <input type="email" placeholder="Correo electrónico" formControlName="correo" class="border rounded-lg w-full p-2 text-sm" />
      
      <select class="border rounded-lg w-full p-2 text-sm" formControlName="rol">
        <option value="">Seleccionar rol</option>
        <option *ngFor="let r of roles" [value]="r.id_rol">{{ r.nombre }}</option>
      </select>
      
      <input type="password" placeholder="Contraseña" formControlName="clave" class="border rounded-lg w-full p-2 text-sm" />
      
      <button type="submit" class="bg-[#0B1120] text-white px-3 py-2 rounded-lg w-full hover:bg-[#1A2238]">
        Guardar usuario
      </button>
    </form>
  </div>
</div>
