<div class="mx-20">
  <div class="overflow-x-auto">
    <table class="w-full text-sm text-left border border-gray-300 rounded-lg border-separate border-spacing-0">
      <thead>
        <tr>
          <th class="px-4 py-3 font-semibold border-b border-gray-300 rounded-tl-lg">Nombre</th>
          <th class="px-4 py-3 font-semibold border-b border-gray-300">Email</th>
          <th class="px-4 py-3 font-semibold border-b border-gray-300">Rol</th>
          <th class="px-4 py-3 text-center font-semibold border-b border-gray-300 rounded-tr-lg">Acciones</th>
        </tr>
      </thead>

      <tbody class="bg-white divide-y divide-gray-200">
        <tr *ngFor="let u of usuarios" class="hover:bg-gray-50 transition">
          <td class="px-4 py-3">{{ u.nombre }}</td>
          <td class="px-4 py-3">{{ u.email }}</td>
          <td class="px-4 py-3">
            <span class="px-2 py-1 rounded-md text-xs font-semibold"
                  [ngClass]="{
                    'bg-gray-100': u.rol === 'Cliente',
                    'bg-black text-white': u.rol === 'Administrador'
                  }">
              {{ u.rol }}
            </span>
          </td>
          <td class="px-4 py-3 text-center">
            <button class="cursor-pointer px-5" title="Editar"> <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="M205-205h53l392-391.5-53.5-53.5L205-257.5v52.5Zm-75 75v-159l520-519.5q10.98-10.28 24.24-15.89Q687.5-830 702.47-830t29 5.75q14.03 5.75 25.03 16.75l52 52.5q11 10.5 16.25 24.25t5.25 28.02q0 15.23-5.14 28.67-5.14 13.44-16.36 24.56L289-130H130Zm625-572.5L702.5-755l52.5 52.5ZM623-623l-26.5-27 53.5 53.5-27-26.5Z"/></svg></button>
            <button (click)="eliminar(u.id_usuario)" class="cursor-pointer"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#EA3323"><path d="M283-130q-30.94 0-52.97-22.03Q208-174.06 208-205v-512h-39v-75h193v-38h237v38h193v75h-39v512q0 30.94-22.03 52.97Q708.94-130 678-130H283Zm395-587H283v512h395v-512ZM365-283.5h75v-355h-75v355Zm156 0h75v-355h-75v355ZM283-717v512-512Z"/></svg></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<!-- Modal -->
<app-modal-usuario
  *ngIf="modalAbierto"
  (cerrar)="modalAbierto = false"
  (usuarioCreado)="agregarUsuarioALista($event)"
></app-modal-usuario>
