<div class="mx-20">
  <div class="overflow-x-auto">
    <table class="w-full text-sm text-left border border-gray-300 rounded-lg border-separate border-spacing-0">
      <thead>
        <tr>
          <th class="px-4 py-3 font-semibold border-b border-gray-300 rounded-tl-lg">Nombre</th>
          <th class="px-4 py-3 font-semibold border-b border-gray-300">Email</th>
          <th class="px-4 py-3 font-semibold border-b border-gray-300">Rol</th>
          <th class="px-4 py-3 text-center font-semibold border-b border-gray-300 rounded-tr-lg">Acciones</th>
        </tr>
      </thead>

      <tbody class="bg-white divide-y divide-gray-200">
        <tr *ngFor="let u of usuarios" class="hover:bg-gray-50 transition">
          <td class="px-4 py-3">{{ u.nombre }}</td>
          <td class="px-4 py-3">{{ u.email }}</td>
          <td class="px-4 py-3">
            <span class="px-2 py-1 rounded-md text-xs font-semibold"
                  [ngClass]="{
                    'bg-gray-100': u.rol === 'Cliente',
                    'bg-black text-white': u.rol === 'Administrador'
                  }">
              {{ u.rol }}
            </span>
          </td>
          <td class="px-4 py-3 text-center">
            <button (click)="eliminar(u.id_usuario)">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Modal -->
<app-modal-usuario
  *ngIf="modalAbierto"
  (cerrar)="modalAbierto = false"
  (usuarioCreado)="agregarUsuarioALista($event)"
></app-modal-usuario>
