<swiper-container slides-per-view="1" loop="true" speed="800" autoplay='{"delay":3000,"disableOnInteraction":false}' class="overflow-hidden shadow-lg block w-full relative">

  <!-- FLECHA IZQUIERDA -->
  <button class="absolute left-3 top-1/2 -translate-y-1/2 z-20 bg-black/40 hover:bg-black/60 text-white p-2 rounded-full" slot="container-start" onclick="this.parentElement.swiper.slidePrev()">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" stroke="white" stroke-width="2" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" d="M15 19l-7-7 7-7"/></svg>
  </button>

  <!-- FLECHA DERECHA -->
  <button class="absolute right-3 top-1/2 -translate-y-1/2 z-20 bg-black/40 hover:bg-black/60 text-white p-2 rounded-full" slot="container-end" onclick="this.parentElement.swiper.slideNext()">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" stroke="white" stroke-width="2" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7"/></svg>
  </button>

  <swiper-slide *ngFor="let promo of promociones">
    <div class="relative w-full h-[200px] sm:h-[200px] md:h-[260px] lg:h-[300px] xl:h-[350px]">

      <img [src]="promo.imagen" class="absolute inset-0 w-full h-full object-cover"/>

      <div class="absolute inset-0 flex flex-col text-white p-4 pointer-events-none"
           [ngClass]="{
             'justify-start text-left': promo.posicion_texto === 'arriba',
             'justify-center text-center': promo.posicion_texto === 'centro',
             'justify-end text-left bg-gradient-to-t from-black/50 to-transparent pb-4': promo.posicion_texto === 'abajo'
           }">

        <!-- TÍTULO ORGANIZADO -->
        <h3 class="drop-shadow-md font-bold"
            [ngClass]="{
              'text-lg sm:text-xl md:text-2xl lg:text-3xl xl:text-4xl': promo.posicion_texto !== 'arriba',
              'text-base sm:text-lg md:text-xl lg:text-2xl xl:text-3xl': promo.posicion_texto === 'arriba'
            }">
          {{ promo.titulo }}
        </h3>

        <!-- DESCRIPCIÓN ORGANIZADA -->
        <p class="text-gray-100 drop-shadow"
           [ngClass]="{
             'text-sm sm:text-base md:text-lg lg:text-xl xl:text-2xl': promo.posicion_texto !== 'arriba',
             'text-xs sm:text-sm md:text-base lg:text-lg xl:text-xl': promo.posicion_texto === 'arriba'
           }">
          {{ promo.descripcion }}
        </p>

      </div>

    </div>
  </swiper-slide>

</swiper-container>
